<div class="card" style="width: 24rem;" [hidden]="!exibirPainel">
    <h5 class="card-header">Acesso de Usuário</h5>
    <div class="card-body">

        <div class="alert alert-danger alert-dismissible fade show" role="alert" [hidden]="!mensagemErro">
            <strong>{{mensagemErro}}</strong>
            <button type="button" class="close" aria-label="Close" (click)="fecharAlertas()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form #formLogin="ngForm" (submit)="autenticarUsuario(formLogin)">

            <div class="form-group">
                <label>Email de Acesso:</label>
                <input type="text" class="form-control" placeholder="Digite aqui" autocomplete="off" name="email"
                    ngModel />
                <div class="text-danger" *ngFor="let message of errosEmail">
                    {{message}}
                </div>
            </div>

            <div class="form-group">
                <label>Senha:</label>
                <input type="password" class="form-control" placeholder="Digite aqui" autocomplete="off" name="senha"
                    ngModel />
                <div class="text-danger" *ngFor="let message of errosSenha">
                    {{message}}
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Acessar Sistema" class="btn btn-primary" />
            </div>

            <div class="form-group">
                Não possui conta? <a href="/register">Cadastre-se aqui</a>
            </div>

        </form>

    </div>
</div>


