<nav class="navbar navbar-expand-lg navbar-dark bg-dark" [hidden]="!usuarioAutenticado">
  <a class="navbar-brand" href="#">Gestão de Empresas e Funcionários</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="admin">Página inicial <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Gerenciar Empresas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="cadastro-empresa">Cadastrar Empresas</a>
          <a class="dropdown-item" routerLink="consulta-empresa">Consultar Empresas</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Gerenciar Funcionários
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="cadastro-funcionario">Cadastrar Funcionários</a>
          <a class="dropdown-item" routerLink="consulta-funcionario">Consultar Funcionários</a>
        </div>
      </li>
    </ul>
    <div class="mr-4">
      <div class="text-white">{{dadosUsuario.nome}}</div>
      <div class="text-white"><small>{{dadosUsuario.email}}</small></div>
    </div>
    <div>
      <button class="btn btn-secondary" (click)="logout()">
        Sair do Sistema
      </button>
    </div>
  </div>
</nav>

<div class="container mt-4">

  <div [hidden]="!usuarioAutenticado">
    <div class="row">
      <div class="col-md-3">
        <img src="https://www.cotiinformatica.com.br/img/logo.png" class="img-fluid" />
      </div>
      <div class="col-md-9">
        <h5>Curso de .NET Avançado - COTI Informática</h5>
        <p>Projeto desenvolvido em Angular acessando API NET CORE com EntityFramework</p>
      </div>
    </div>
    <hr />
  </div>

  <router-outlet></router-outlet>

</div>